doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        //- link(rel="stylesheet", href="style.css")
        title Profile
    body
        a(href="/products") Products
        div 
            p= `Email: ${email}`
            p= `Points: ${points}`