doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(rel="stylesheet" href="/css/style.css")
        title Profile
    body
        a(href="/signin") Sign In
        a(href=`/products`) Products
        .card 
            p= `Email: ${email}`
            p= `Points: ${points}`