doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        script(src="js/signin.js")

        title Authorization
    body

        form#signin-form.card()
            .card-block
                label Email
                br
                input#email(type="text" name="email")
            .card-block
                label Password
                br
                input(type="password"  name="password")
            button#signin-btn(type="submit" ) Sign In
            a#signup-href(href="/") Sign Up
